accelerate==1.11.0
argcomplete==3.6.3
arrow==1.4.0
datasets==3.6.0
evaluate==0.3.0
fuzzywuzzy==0.18.0
huggingface-hub==0.36.0
jieba==0.42.1
matplotlib==3.10.0
networkx==3.4.2
nltk==3.6.2
omegaconf==2.3.0
openai==2.5.0
pandas==2.2.3
pillow==11.1.0
requests==2.32.3
responses==0.18.0
regex==2024.11.6
rouge==1.0.1
rouge_score==0.1.2
scipy==1.15.1
sentencepiece==0.2.1
setuptools==80.9.0
sympy==1.13.1
tensorboard==2.20.0
tokenizers==0.22.1
torchao==0.12.0
torchtune==0.5.0
tornado==6.4.2
tqdm==4.67.1
transformers==4.57.1
triton==3.2.0
wandb==0.21.2
